* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  margin: 0;
  font-size: 25px;
  float: left;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  margin:5px 0;
  font-size: 17px;
}
.clr:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
 }

header {
  background: #ededed;
  padding: 10px;
  border-bottom: 3px solid #8e8e8e;
  box-shadow:5px 0px 5px rgba(0,0,0,.4);
}

.git-link {
  font-family: 'Fjalla One', sans-serif;
  display: inline-block;
  float: right;
  color: #000!important;
  font-size: 25px;
  text-decoration: none;
}
.demo-container {
  border-radius: 5px;
  border: 3px solid #8e8e8e;
  padding: 4px;
  margin: 10px;
}


.demo-page {
  position: relative;
  width: 100%;
}

.demo-controls {
  float: left;
  width: 300px;
  min-height: calc(100vh - 31px);
  padding: 10px;
  label{
    font-weight: bold;
    font-size: 12px;
  }
  .control-row {
    padding-bottom: 5px;
  }
  pre {
    border: 1px solid #8e8e8e;
  }
  code {
    tab-width: 2;
    white-space: pre-wrap;
    // border: 1px solid;
  }
}

.grid-holder {
  border-left: 1px solid #8e8e8e;
  float: left;
  width:calc(100% - 300px);
  min-height: calc(100vh - 31px);
}
