<div id="page-box" [class.menu-open]="menuOpen">

  <header class="clr">
    <span class="menu-toggle" (click)="toggleMenu()">
      <i class="fa fa-sliders"></i>
    </span><h1>Angular 4 Simple Grid</h1>
    <a class="git-link" href="https://github.com/slangberg/ng-simple-grid" alt="go to github" title="Go To Repo">
     <i class="fa fa-github" aria-hidden="true"></i>
    </a>
  </header>
  <div class="demo-page">
    <form class="demo-controls">
      <div class="control-row count-row">
        <input type="number" name="Colums" [(ngModel)]="divderCount" min="1" max="12">
        <label>Column Count</label>
      </div>
      <div class="control-row">
        <input type="checkbox" [(ngModel)]="usingColConfig" name="userColConfig" (click)="usesColConfig()">
        <label>Use Column Config</label>
        <pre *ngIf="usingColConfig">
          <code >
            {{sampleConfigObject.colConfig | json | outputTrim}}
          </code>
        </pre>
      </div>
      <div class="control-row">
        <input type="checkbox" [(ngModel)]="usingGridStyle" name="usingGridStyle" (click)="usesGridStyle()">
        <label>Use Grid Style Config</label>
        <pre *ngIf="usingGridStyle">
          <code >
            {{sampleConfigObject.gridStyle | json | outputTrim}}
          </code>
        </pre>
      </div>
      <div class="control-row">
        <input type="checkbox" [(ngModel)]="usingColStyle" name="usingColStyle" (click)="useSampleColStyle()">
        <label>Use Column Style Config</label>
        <pre *ngIf="usingColStyle">
          <code >
            {{sampleConfigObject.colStyle | json | outputTrim}}
          </code>
        </pre>
      </div>
      <div class="control-row">
        <input type="checkbox" [(ngModel)]="usingRowStyle" name="usingRowStyle" (click)="useSampleRowStyle()">
        <label>Use Row Style Config</label>
        <pre *ngIf="usingRowStyle">
          <code >
            {{sampleConfigObject.rowStyle | json | outputTrim}}
          </code>
        </pre>
      </div>
      <div class="control-row">
          <input type="checkbox" [(ngModel)]="usingClassConfig" name="usingClassConfig" (click)="useClassConfig()">
        <label>Use Grid Class Config</label>
        <pre *ngIf="usingClassConfig">
          <code >
            {{sampleConfigObject.classConfig | json | outputTrim}}
          </code>
        </pre>
      </div>
    </form>
    <div class="grid-holder clr">

      <div class="demo-container">
        <simple-grid
        [col-config]="sampleConfigObject.colConfig"
        [col-count]="divderCount"
        [source-list]="sampleList"
        [use-percent]="isPercent"
        [grid-style-config]="sampleConfigObject.gridStyle"
        [col-style]="sampleConfigObject.colStyle"
        [row-style]="sampleConfigObject.rowStyle"
        [classes-config]="sampleConfigObject.classConfig"
        (onItemClick)="onClickItem($event)"
        >
          <ng-template let-item="item" let-index="index">
            <sample-cell [item]="item"></sample-cell>
          </ng-template>
        </simple-grid>
      </div>
    </div>
  </div>
</div>
