/* You can add global styles to this file, and also import other style files */
html, body {
  padding: 0;
  margin: 0;
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}

.third {
  width:33.33333%;
}

.opacity-row {
  opacity: .8;
}

.border-purple {
  border-style:dotted;
  border-color: purple;
  border-width: 3px;
}

.border-yellow {
  border-style:dotted;
  border-color: yellow;
  border-width: 3px;
}

.border-container {
  border-style: dashed;
  border-color: teal;
  border-width: 2px;
}
